<aside class="px-5"
       style="text-align: center; flex: 0 0 auto; padding: 0 !important; width: 220px; margin-right:50px; ">
    <div class="card" style="border-radius: 10px;">
        <div style="width: 100%;">
            <div>
                <h6 class="card-subtitle text-muted"></h6>
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a id="userHome" class="nav-link sub-menu a p-1 mb-1" href="/challenge/form">챌린지 관리</a>
                    </li>
                    <!-- 가로 줄 -->
                    <li class="nav-item" style="border-top: 1px solid rgba(0, 0, 0, 0.5);">
                        <a id="offer" href="/food/form" class="nav-link sub-menu a p-1 mb-1">음식 관리</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
