{{> layout/header}}
{{> layout/sidebar}}

<div class="container p-5">
    <!-- 표 시작 -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">산 이미지</th>
            <th scope="col">산 제목</th>
            <th scope="col">뱃지 이미지</th>
            <th scope="col">내용1</th>
            <th scope="col">내용2</th>
            <th scope="col">거리</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td><img src="산이미지경로" alt="산 이미지" width="100"></td>
            <td>산 제목</td>
            <td><img src="뱃지이미지경로" alt="뱃지 이미지" width="50"></td>
            <td>내용1</td>
            <td>내용2</td>
            <td>거리</td>
        </tr>
        <!-- 여러 개의 행 추가 가능 -->
        </tbody>
    </table>
    <!-- 표 끝 -->

    <!-- 페이지네이션 -->
    <ul class="pagination d-flex justify-content-center">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>
